*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/

# idea 全家桶的配置目录
.idea/
# visual studio code 的配置目录
.vscode/

# 各种类型的图片
*.jpg
*.jpeg
*.png